development:
  sessions:
    default:
      database: authenticating_proxy_development
      hosts:
        - localhost:27017

test:
  sessions:
    default:
      database: authenticating_proxy_test
      hosts:
        - localhost:27017
      options:
        read: primary
        # In the test environment we lower the retries and retry interval to
        # low amounts for fast failures.
        max_retries: 1
        retry_interval: 0

production:
  sessions:
    default:
      uri: <%= ENV['MONGODB_URI'] %>
      options:
        write:
          w: majority
        read: primary_preferred
